<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Alkatra"
    />
    <link rel="stylesheet" href="./styling/projects.css" />
    <script src="./javascript/projects.js" defer></script>
    <title>Projects</title>
  </head>
  <body>
    <div class="loading-screen" id="loadingScreen">
      <div class="welcome" id="welcome">Welcome to My Projects</div>
      <div class="loading">
        <div class="loading2">
          <div class="loading3"></div>
        </div>
      </div>
    </div>
    <div class="desktop" id="desktop">
      <div class="project" id="project-1"></div>
      <div class="project" id="project-2"></div>
      <div class="project" id="project-3"></div>

      <div class="browser" id="browser">
        <div class="top-bar">
          <div class="tab">My Projects</div>
          <input
            class="link"
            id="link"
            type="text"
            value="http://www.myProjects.yeah"
          />
          <div class="minimize" id="minimize">-</div>
          <div class="close" id="close">x</div>
        </div>
        <div class="content"></div>
      </div>
      <div class="options" id="options">
        <div class="open" id="open">Open</div>
        <div class="github" id="github">GitHub Link</div>
        <div class="properties" id="properties">Properties</div>
        <div class="credits" id="credits">Credits</div>
      </div>
    </div>
  </body>
</html>
